/* -------------------------------------- *
General Styles
* --------------------------------------- */
body {
  font-family: "Dosis", "Dosis ExtraLight";
  font-size: 18px;
  font-weight: 100;
  color: #333;
}

h1,
h2,
h3 {
  font-size: 32px;
  font-family: "Dosis", "Dosis ExtraLight";
  font-weight: 100;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 28px 0;
}
nav a {text-decoration: none;
  color: #333;
  padding-right: 25px;
  font-size: 16px;
}
nav a:hover {text-decoration: none;
  color: rgb(255, 235, 198);
}
nav {
  background-color: rgb(255, 221, 110);
  padding: 10px;
  margin-left: -12px;
}