/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body { margin: 0;}
* {box-sizing: border-box;}

body {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  padding-bottom: 5%;
}
header {
  background-image: url("../images/banners/gradient.png");
  background-size: cover;
  height: 112px;
  background-position-y: 100%;
}
h1 {
  font-size: 36px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: rgb(255, 228, 140)
}
h2 {
  font-family: "Karla", sans-serif;
  font-size: 16.5px;
  font-weight: 700;
  color: #333;
}
h3 {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-decoration: underline;
}
p {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #333;
  max-width: 75%;
  line-height: 20px;
}
li {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #333;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 37px 0;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  color: #333;
  padding-right: 25px;
  margin-left: -8px;
}
nav a:hover {
  text-decoration-color: rgb(252, 233, 170);
}
nav {
  background-color: #ffdf88;
  padding: 10px;
}
:any-link {
  text-decoration: none;
  color: #333;
}
:any-link:hover {
  text-decoration-line: none;
  color: rgb(252, 233, 170);
}
.homecatpic {
  height: 500px;
  padding: 5px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.catpics {
  height: 500px;
  padding: 5px;
}
.two-col {
  display: flex;
}
.two-col article {
  flex: 1;
  padding: 10px;
}
.two-col .rightbuff {
  padding-right: 40%;
}
fieldset {
  width: 200px;
  border: 4px double #ffdf88;
  border-radius: 6px;
  padding: 20px;
  margin-top: 5%;
}
legend {
  background-color: rgb(255, 249, 228);
  border: 3px double #ffdf88;
  border-radius: 6px;
  padding: 8px;
  text-transform: uppercase;
}
textarea {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  padding: 7.5px;
}