* {box-sizing: border-box;}
body { 
    margin: 0;
    display: flex;
    flex-direction: column;
}
h1 {
    font-family: 'Solway', 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 16pt;
    text-align: center;
    color: #171414;
    margin: 10pt;
}
h2 {
    font-family: 'Solway', 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 14px;
    color: #171414;
    line-height: 20pt;
    letter-spacing: 0.1em;
    margin: 10pt;
    text-align: center;
}
h3 {
    font-family: 'Solway', 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 9pt;
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: #171414;
    line-height: 20pt;
    text-transform: uppercase;
}
p {
    font-family: 'Solway', 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 10pt;
    text-align: center;
    color: #171414;
    padding-bottom: 20pt;
    padding-right: 12pt;
    padding-left: 12pt;
    margin: 0;
}
p em {
    font-size: 9pt;
}
ul { 
  margin: 10px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 300px;
  text-align: center;
}
li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #171414;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  padding: 2px 10px;
  position: relative;
  font-family: 'Solway', 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 14px;
}
li.active a{
    color: #a12525;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #a12525;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}
a:hover:after { 
    width: 100%; 
    left: 0; 
}
.image-grid-lg {
    width: 100vw;
    align-content: center;
}
.image-vertical {
    width: 60%;
    align-content: center;
}
img {
    width: 300px;
}
.image-tiny {
    display: none;
}
nav {
    align-items: center;
    display: flex;
    color: #171414;
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
}  
.content-full {
    width: 85%;
    align-self: center;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

/* vv  DESKTOP  vv */
@media screen and (min-width: 768px) {
    .main-header {
        flex-direction: row;
        flex-wrap: nowrap;
        padding-bottom: 25px;
   }
    .main-content {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 80px;
        padding-right: 80px;
    }
    .content-box { 
        flex: 50%;
        padding: 10px;
        margin: auto;
    }
    img {
        width: 500px;
    }
    nav {
        color: #171414;
        width: 100%;
        padding-top: 160px;
        margin-right: -10%;
    }
    ul {
        width: 425px;
    }
    a {
        font-weight: 400;
        font-size: 20px;
    }
    .image-grid-lg {
        width: 100%;   
    }
    .image-tiny {
        display: inline-flex;
        max-width: 140px;
        padding-bottom: 9px;
    }
    .image-vertical {
        width: 40vw
    }
    p {
        font-size: 10pt;
        padding-bottom: 15px;
        padding-left: 60pt;
        padding-right: 60pt;
        margin: 0;
    }
    h2 {
        font-weight: 400;
        font-size:20px;
    }
    .content-full {
        width: 100%;
        align-self: center;
        padding-left: 12%;
        padding-right: 12%;
    }
}
/* vv Animations vv */
.wobble-hor-top:hover {
	-webkit-animation: wobble-hor-top 3s ease-in-out both;
	        animation: wobble-hor-top 3s ease-in-out both;
}
@-webkit-keyframes wobble-hor-top {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    45% {
      -webkit-transform: translateX(-12px) rotate(3.6deg);
              transform: translateX(-12px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(-2.4deg);
              transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(1.2deg);
              transform: translateX(-6px) rotate(1.2deg);
    }
  }
  @keyframes wobble-hor-top {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    
    45% {
      -webkit-transform: translateX(-12px) rotate(3.6deg);
              transform: translateX(-12px) rotate(3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(-2.4deg);
              transform: translateX(9px) rotate(-2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(1.2deg);
              transform: translateX(-6px) rotate(1.2deg);
    }
  }
  