

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');


* {
  box-sizing: border-box;
}
body {
    margin: 0;
  }
main {
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px solid blue;
    background-color: rgb(255, 241, 225)
  }
.left {
  flex: 70%;
  display: flex;
  flex-direction: column;
  border: 4px solid purple;
}
.right {
  flex: 30%;
  display: flex;
  flex-direction: column;
  border: 4px solid green;
}
.right .top,
.right .bottom {
  flex: 5%;
  flex-direction: column;
  padding-left: 30px
}
.right .middle {
  flex: 90%;
  padding-right: 16%;
}
section {
  display: flex;
  /* width: 70vw; */
}
section .img-box {
    flex: 70%;
    height: 98px;
    overflow: hidden;
  }
section .img-box-expanded {
    flex: 70%;
    height: 550px;
    overflow: hidden;
}
img {
  width: 100%;
}
section .bigger {
    height: 800px;
  }
section .content {
    flex: 30%;
    padding: 30px;
  }
.content {
  padding: 30px;
}
.content-2 {
  padding: 30px;
  padding-top: 10vh;
}
.content-6 {
  padding: 30px;
  padding-top: 60vh;
}
.content-inner {
  flex: 30%;
  padding: 30px;
}
.hide {
    display: none;
  }


h1 {font-family: "DM Mono", monospace;
    font-size: 13px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}

h2 {font-family: "DM Mono", monospace;
    font-size: 12px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}
p {font-family: "DM Mono", monospace;
    font-size: 11px;
    font-weight: 400;
    color: rgb(29, 29, 29);
    margin: 0;
}
:any-link {
    text-decoration: none;
    color: rgb(29, 29, 29);
}