

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');

h1 {font-family: "DM Mono", monospace;
    font-size: 15px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}

h2 {font-family: "DM Mono", monospace;
    font-size: 14px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}
p {font-family: "DM Mono", monospace;
    font-size: 14px;
    font-weight: 400;
    color: rgb(29, 29, 29);
}
:any-link {
    text-decoration: none;
    color: rgb(29, 29, 29);
}
body {
    margin: 0;
  }
section {
    display: flex;
    width: 100vw;
  }
section .img-box {
    flex: 65%;
    height: 200px;
    overflow: hidden;
  }
section .bigger {
    height: 800px;
  }
section .content {
    flex: 35%;
    padding: 40px;
  }
.hide {
    display: none;
  }