

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400&display=swap');


* {
  box-sizing: border-box;
}
body {
    margin: 0;
}
main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 241, 225)
}
.left {
  flex: 70%;
  display: flex;
  flex-direction: column;
}
.right {
  flex: 30%;
  display: flex;
  flex-direction: column;
}
.right .top {
  flex: 5%;
  padding-left: 30px;
}
.right .bottom {
  flex: 3%;
  padding-left: 30px;
}
.right .middle {
  flex: 90%;
  padding-right: 16%;
}
.full {
  flex: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.full .top-full {
  display: flex;
  flex: 5%;
  flex-direction: row;
  padding-left: 72.25%;
  margin-top: -2px;
}
.full .middle-full {
  flex: 90%;
  flex-direction: row;
}
.full .bottom-full {
  flex: 5%;
  padding-left: 73%;
  flex-direction: row;
}
section {
  display: flex;
  /* width: 70vw; */
}
section .img-box {
    flex: 70%;
    max-height: 110px;
    overflow: hidden;
}
section .img-box-expanded {
    flex: 70%;
    height: 555px;
    overflow: hidden;
}
img {
    width: 100%;
    padding-bottom: 15px;
}
.flex-grid {
  display: flex;
}
.col-l {
  flex: 60%;
  padding-left: 20%;
  padding-right: 22px;
}
.col-r {
  flex: 40%;
  padding-top: 12%;
}
.flex-grid-thirds {
  display: flex;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 10%;
  margin-right: 10%;
}
.flex-grid-thirds .col {
  padding: 10px;
}
section .large-copy p{
    padding: 40px;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 12px;
    font-weight: 400;
}
.hide {
    display: none;
}
h1 {font-family: "DM Mono", monospace;
    font-size: 13px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}
h2 {font-family: "DM Mono", monospace;
    font-size: 12px;
    font-weight: 500;
    color: rgb(29, 29, 29);
}
h3 {font-family: "DM Mono", monospace;
  font-size: 18px;
  font-weight: 500;
  color: rgb(29, 29, 29);
  text-decoration: underline;
}
h4 {font-family: "DM Mono", monospace;
  font-size: 11px;
  font-weight: 500;
  color: rgb(29, 29, 29);
  text-decoration: underline;
}
p {font-family: "DM Mono", monospace;
    font-size: 10px;
    font-weight: 400;
    color: rgb(29, 29, 29);
    margin: 0;
}
.smaller {
  font-family: "DM Mono", monospace;
  font-size: 9px;
  font-weight: 400;
  color: rgb(29, 29, 29);
  margin: 0;
}
:any-link {
    text-decoration: none;
    color: rgb(29, 29, 29);
}
section .content {
  flex: 30%;
  padding: 30px;
}
.content {
padding: 30px;
}
.content-1 {
    padding: 30px;
  padding-top: 0vh;
}
.content-2 {
  padding: 30px;
  padding-top: 10vh;
}
.content-3 {
  padding: 30px;
  padding-top: 20vh;
  font-size: 12px;
}
.content-4 {
  padding: 30px;
  padding-top: 37vh;
}
.content-5 {
  padding: 30px;
  padding-top: 50vh;
}
.content-6 {
  padding: 30px;
  padding-top: 64vh;
}
.content-7 {
  padding: 30px;
  padding-top: 78vh;
}
.content-8 {
  padding: 30px;
  padding-top: 92vh;
}
